.writeCommentContainer{
    height: 80vh;
    padding: 10px 0 0 0;
    overflow: hidden;
}
.othersComments{
    overflow-y: scroll;
    height: 68vh;
    padding-bottom: 10px;
}
textarea{
    background-color: white;
    border-color: royalblue;
    font-weight: 500;
}

.writtenComment{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.writeYourComment{
    margin-top: 10px;
    width: 100%;
    background-color: black;
}