<ngx-spinner></ngx-spinner>
<div class=" profileContainer col-md-6 col-md-offset-3">
    <div class="profileImage">
        
    </div>
    <div class="profileDiv">
        <div class="profileDetails">{{username}}<span>{{about}}</span></div>
    </div>
    <div class="activity">
        Activity
        <div class="activityContainer" >
            <div class="activityDetail" *ngIf="myPosts.length == 0">
                No Activity to show
            </div>
            <div class="activityDetail" *ngFor="let post of myPosts">
                You shared a <span style="font-weight: 750;">{{post.postType}}</span><span *ngIf="post.username ==='Anonymous'"> as an <span style="font-weight: 750;">{{post.username}}</span></span>.
                <p style="font-weight: lighter; color: grey; font-size: 10px;">{{post.postedAt | date : 'dd/MMM/yyyy hh:mm a'}}</p>
            </div>
        </div>
        <div class="deleteAccount">
            <span class="text-danger" style="font-weight: bold; cursor: pointer;"> <span class="glyphicon glyphicon-off"> </span> Delete Account </span> 
        </div>
    </div>
   
</div>