<ngx-spinner></ngx-spinner>
<div class=" profileContainer col-md-6 col-md-offset-3">
    <div class="profileImageDiv">
    <div class="profileImage">
        <img class="img-responsive" height="350" [src]="(profilePicture != null) ? profilePicture : (previewUrl != null) ? previewUrl : 'assets/defaultProfilePic.png'"  width="500" height="500"/>
        <div class="profileImageOptions" style="background-color : transparent; padding-right: 21.5px; 
         text-align : right; position : absolute; z-index : 1000;left : 0px; top : 325px; right : 0;line-height : 40px; width : 100% ">
            <div class="optionDiv" *ngIf="profilePicture || previewUrl" >
                <mat-icon style="margin-top: 8px; margin-bottom: 0; color: crimson;" (click)="deleteProfilePic()">delete</mat-icon>
            </div>
            <div class="optionDiv" *ngIf="previewUrl">
                <button class="btn" (click)="uploadProfilePic()">Done</button>
            </div>
        </div>
    </div>
    </div>
    
    <div class="profileDiv">
        <div class="profileDetails">{{username}}<span>{{about}}</span>
            <span  class="glyphicon glyphicon-camera" style="float : right;left:  -10px; font-size:25px; cursor: pointer;" (click)="uploadImage()">
                <form [formGroup] = "profileImageForm" enctype="multipart/form-data" >
                    <input  name="image" type="file" id="uploadProfile" style="display:none" >
                </form>
            </span></div>
    </div>
    
    <div class="credentials">
        <div class="form-group" >
            <input type="email" class="form-control" value="{{emailid}}" readonly>
            
        </div>
        <label class="changepasswordLabel">Click <span style="color: crimson;cursor: pointer;">here</span> to change <span style="font-weight: bolder;">password</span>.</label>
    </div>
    <div class="activity">
        Activity
        <div class="activityContainer" >
            <div class="activityDetail" *ngIf="myPosts.length == 0">
                No Activity to show
            </div>
            <div class="activityDetail" *ngFor="let post of myPosts">
                You shared a <span style="font-weight: 750;">{{post.postType}}</span><span *ngIf="post.username ==='Anonymous'"> as an <span style="font-weight: 750;">{{post.username}}</span></span>.
                <p style="font-weight: lighter; color: grey; font-size: 10px;">{{post.postedAt | date : 'dd MMM yyyy, hh:mm a'}}</p>
            </div>
        </div>
        <div class="deleteAccount">
            <span class="text-danger" style="font-weight: bold; cursor: pointer;"> <span class="glyphicon glyphicon-off"> </span> Delete Account </span> 
        </div>
    </div>
   
</div>