
.homecontainer{
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-y: hidden;background-color: #1F2833;
}

nav{
    bottom: 0;
    margin-bottom: 0;
    position: sticky;
    border: 0;
    top: 0;
    z-index: 1;
    background-color: #0B0C10;
}
.navbar-brand{
    font-weight: bold!important;
    color: #fff!important;
}

button:hover, button:active, button:checked{
    background-color: transparent!important;
    outline: none!important;
}
#myNavbar a{
    
    color: #fff!important;
    font-family: 'Titillium Web', sans-serif!important;
    padding: 25px!important;
    font-size: medium;
    cursor: pointer;
}

#myNavbar a:hover { 
    background-color: #1F2833!important;
}