

<div class="homecontainer container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="cursor: pointer;" [routerLink]="['feed']">Wizard</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a  [routerLink]="['feed']">Home</a></li>
                <li><a  [routerLink]="['profile']">Profile</a></li>
                <li><a >Contact Us</a></li>
                <li><a (click)="logout($event)">Logout</a></li>
        
              </ul>
          </div>
        </div>
      </nav>
      <ngx-spinner *ngIf="isLogout"></ngx-spinner >
<router-outlet></router-outlet>
 
      

</div>